.Layout{
  width: 1850px;
  margin: 0 auto;
  //border-left: 1px dashed white;
  //border-right: 1px dashed white;
}

*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1650px) {
  .Layout{
    width: calc(300px + (1600 - 300) * ((100vw - 320px) / (1650 - 320)));;
  }
}